body {
	/*background-image: url('images/largebackground.jpeg');*/
	background-repeat: no-repeat;
	background-size: cover;
	opacity: ;
}
.numbers {
	color:#744b41;
	font-family:Arial;
	font-size: 18px;
	padding-top: 118px;
}
/*.header {
	display: relative;
	background-image: url('images/header.jpg');
	background-repeat: no-repeat;
	background-position: center;
	width:100%;
	height:400px;
	margin:30px auto 0 auto;

}*/
.logo {
	border-radius: 25px;
	position: absolute;
	opacity: 0.6;

}
.content-box {
	border:thin solid black;
	border-radius: 5px;
	min-height: 400px;
	min-width: 250px;
	max-width: 500px;
	font-family: Arial;
	margin-bottom: 30px;
	padding:10px;
}
.row-pad {
	padding-top: 20px;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.labels {
	width: 60px;
	margin-right: 3px;
}
.forms {
	border: thin solid grey;
    border-radius: 5px;
    min-width: 250px;
    margin: 5px 0;
    /*box-shadow: 5px 5px 1px grey;*/
}
.aboutUs {
	/*background-image: url('images/about.jpg');
	background-size: cover; 
}*/
/*.services {
	background-image: url('images/background-grass.jpg');
}*/
.serviceList {
	margin-left: 12%;
	margin-top: 25px;
}
.contactUs {
	/*background-image: url('images/rock-background.jpg');
	color: white;
	font-weight: bolder;
	font-size: 18px;
}*/
.blog {
	/*background-image: url('images/flagstone.jpg');
}*/



.admin-background {
	background-image: url(images/background.jpeg);
	background-size: cover;
	background-color: lightGrey;
}

.admin-pad {
	padding-top: 20px;
	padding-bottom: 20px;
}
.img-margin {
	margin:5px;
}
.admin-border {
	border:thin solid lightGrey;
	border-radius: 5px;
}
.admin-input {
	border-radius: 5px;
}
.height {
	min-height: 240px;
}
.control-height {
	height: 400px;
}