/* BACKGROUND IMAGE */
.background {
	position: fixed;
	margin-top:50px;
	opacity: 0.4;	
	width: 100%;
	height: 100%;
}
/* MAIN PAGE */

.callBtn {
	background-color: #54321C;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
}
.callBox {
	padding-top:7%;
}

.fontColor {
	color: #54321C;
}
.miniBtn {
	border: medium solid #54321c;
    width: 150px;
    border-radius: 30px;
    height: 50px;
    margin:30% 0;
    font-size: 20px;
    text-align: center;
	padding-top: 5%;
}
.row-padding {
	padding:20px 0 20px 0;
}
.center {
	text-align: center;
}
.serviceList {
	margin-top: 10%;	
	font-size: 16px;
}
.labels {
	width: 60px;
	margin-right: 3px;
}
.forms {
	border: thin solid grey;
    border-radius: 5px;
    min-width: 250px;
    margin: 5px 0;
    /*box-shadow: 5px 5px 1px grey;*/
}
.blog-modal {
	text-align: center;
	padding:10px 0;
}
.content-box {
	/*border:thin solid #54321C;*/
	border-radius: 5px;
	min-height: 400px;
	min-width: 250px;
	max-width: 500px;
	font-family: Arial;
	margin-bottom: 30px;
	padding:10px;
	opacity:1;
	transition-propery:opacity;
}
.block {
	display: block;
}
.ng-hide-add {
	opacity: 0;
}
.ng-hide-remove {
	opacity: 1;
}

/* ADMIN CSS STYLING */
.admin-background {
	background-image: url(images/background.jpeg);
	background-size: cover;
	background-color: lightGrey;
}

.admin-pad {
	padding-top: 20px;
	padding-bottom: 20px;
}

.img-margin {
	margin:5px;
}
.admin-border {
	border:thin solid lightGrey;
	border-radius: 5px;
}
.admin-input {
	border-radius: 5px;
	margin-top: 8px;
}

.control-height {
	height: 400px;
}